{
	"useTabs": true,
	"singleQuote": true,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"semi": true,
	"svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteIndentScriptAndStyle": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 130
}
